<div class="col-md-9">
    <div class="display main-content">
        <div class="display-legend">
            <span class="legend">
                <span class="legend-box r-a"></span>
                 <small class="legend-label">Room Available</small>
            </span>
    <span class="legend">
                                            <span class="legend-box s-d"></span>
    <small class="legend-label">Selected Date</small>
    </span>
    <span class="legend">
                                            <span class="legend-box n-a"></span>
    <small class="legend-label">Not Available</small>
    </span>
</div>
        <div class="display-calendar">
            <div class="row">
                <div class="col-md-6">
                    <table class="calendar-1 table table responsive">
                        <thead>
                            <th colspan="7"><span class="pull-left fontA" (click)="showPreviousMonth()">&#xf137;</span><span class="show-991 pull-right fontA">&#xf138;</span>
                                <div class="text-center">{{month1Name}} {{year1}}</div>
                            </th>
                        </thead>
                        <tr>
                            <td>
                                <div class="text-center"><strong>S</strong></div>
                            </td>
                            <td>
                                <div class="text-center"><strong>M</strong></div>
                            </td>
                            <td>
                                <div class="text-center"><strong>T</strong></div>
                            </td>
                            <td>
                                <div class="text-center"><strong>W</strong></div>
                            </td>
                            <td>
                                <div class="text-center"><strong>T</strong></div>
                            </td>
                            <td>
                                <div class="text-center"><strong>F</strong></div>
                            </td>
                            <td>
                                <div class="text-center"><strong>S</strong></div>
                            </td>
                        </tr>
                        <!--start of loop-->
                        <tr *ngFor="let days of arrWeeksThisMonth;">
                            <td  [ngClass]="applyClass(a)" *ngFor="let a of days">
                                <div class="am"><span class="pull-right"><small>{{a.day}}</small></span></div>
                                <div class="pm" *ngIf="a.availability"><small *ngIf="!a.disabled"><span class="euro" >&euro;</span> {{a.rate}}</small></div>
                            </td>
                        </tr>
                        <!--end of loop-->
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="calendar-2 table table responsive hide-991">
                        <thead>
                            <th colspan="7"><span class="pull-right fontA" (click)="showNextMonth()" style="cursor:default">&#xf138; </span>
                                <div class="text-center">{{month2Name}} {{year2}}</div>
                            </th>
                        </thead>
                        <tr>
                            <td>
                                <div class="text-center"><strong>S</strong></div>
                            </td>
                            <td>
                                <div class="text-center"><strong>M</strong></div>
                            </td>
                            <td>
                                <div class="text-center"><strong>T</strong></div>
                            </td>
                            <td>
                                <div class="text-center"><strong>W</strong></div>
                            </td>
                            <td>
                                <div class="text-center"><strong>T</strong></div>
                            </td>
                            <td>
                                <div class="text-center"><strong>F</strong></div>
                            </td>
                            <td>
                                <div class="text-center"><strong>S</strong></div>
                            </td>
                        </tr>
                        <!--start of loop-->
                        <tr *ngFor="let days of arrWeeksNextMonth;">
                            <td class="disabled" [ngClass]="applyClass(a)" *ngFor="let a of days">
                                <div class="am"><span class="pull-right"><small>{{a.day}}</small></span></div>
                                <div class="pm" *ngIf="a.availability"><small><span class="euro">&euro;</span> {{a.rate}}</small></div>
                            </td>
                        </tr>
                        <!--end of loop-->
                    </table>
                </div>

            </div>
        </div>
    </div>

    <!--select rooms button-->
    <div class="row">
        <div class="check-btn" ><button class="blue-btn" (click)="showSpecificMonth()"> Select Rooms <span class="fontA">&#xf054;</span> </button></div>
    </div>
</div>