<div class="steps">
  <div class="row">
    <div class="step-item col-xs-3 step-active">
      <div class="step-1">
        <span class="step-no"><span class="step-no-inner">1</span></span>
        <span class="step-lbl"> Select Date </span>
      </div>
    </div>
    <div class="step-item col-xs-3 ">
      <div class="step-2">
        <span class="step-no"><span class="step-no-inner">2</span></span>
        <span class="step-lbl"> Rooms </span>
      </div>
    </div>
    <div class="step-item col-xs-3">
      <div class="step-3">
        <span class="step-no"><span class="step-no-inner">3</span></span>
        <span class="step-lbl"> Extras </span>
      </div>
    </div>
    <div class="step-item col-xs-3">
      <div class="step-4">
        <span class="step-no"><span class="step-no-inner">4</span></span>
        <span class="step-lbl"> Details </span>
      </div>
    </div>
    <div class="mob-only col-md-12 text-center">
      <span class="current-step">Select Date</span>
    </div>
  </div>
</div>