<div class="wrapper">
    <div class="header">
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                    <a class="navbar-brand logo" href="index.html"><img src="assets/img/logo.png" alt="Roomer" title="Roomer" width=255 height=24 /></a>
                </div>
                <div class="navbar-collapse collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <!--<li><a href="#">HOTEL</a></li>
                        <li><a href="#">ROOMS</a></li>
                        <li><a href="#">BAR & LOUNGE</a></li>
                        <li><a href="#">FITNESS</a></li>
                        <li><a href="#">GALLERY</a></li>-->
                        <li class="#">
                            <a href="#" class="dropdown-toggle country-selector" data-toggle="dropdown"><img src="assets/img/netherlands-flag.png" /><b class="caret dropdown-btn"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#"><img src="assets/img/netherlands-flag.png" /></a>
                                </li>
                            </ul>
                        </li>
                        <li class="#">
                            <a href="#" class="dropdown-toggle currency-selector" data-toggle="dropdown"><span class="fontA header-currency-btn">&#xf155;</span><b class="caret dropdown-btn"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><span class="badge"> $ </span></a></li>
                                <li><a href="#"><span class="badge"> &euro; </span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="content">
        <div class="container">
            <!--top navigator-->
            <app-top-nav></app-top-nav>
            <div class="main">
                <div class="row">
                    <!--left panel-->
                    <app-left-panel></app-left-panel>
                    <!--main panel-->                   
                    <app-main-panel></app-main-panel>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="text-center">
                Copyright 2017. Roomer. All rights reserved
            </div>
        </div>
    </div>
</div>