<div class="col-md-3">
  <div class="options">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="panel-title">Your Stay Dates</span>
      </div>
      <div class="dynamic-form">
        <!-- fields arrival, nights, departure-->
        <app-select-dates></app-select-dates>
        <!--fields rooms, guests-->        
        <app-specify-rooms-and-guests></app-specify-rooms-and-guests>
        <!--fields promotion-->        
        <app-promo-code></app-promo-code>
        <!--cancel booking-->        
        <app-cancel-booking></app-cancel-booking>
      </div>
    </div>
  </div>
</div>