<!--mobile fields rooms, guests-->
<div class="show-480 dyna-form row">
  <div class="mobile-field">
    <div class="mobile-field-label">Rooms</div>
    <div class="mobile-field-input"><button class="transparent-btn">-</button><input class="count-field" type="text" value="3"><button class="transparent-btn">+</button></div>
  </div>
  <div class="mobile-field">
    <div class="mobile-field-label">Guests</div>
    <div class="mobile-field-input"><button class="transparent-btn">-</button><input class="count-field" type="text" value="3"><button class="transparent-btn">+</button></div>
  </div>
</div>
<!--mobile fields rooms, guests-->


<div class="room-details hide-480">
  <label class="control-label">Rooms and Guests</label>
  <div class="form-group">
    <div class="form-inline">
      <span class="control-label room">Rooms</span>
      <select class="form-control">
        <option> 1 </option>
        <option> 2 </option>
        <option> 3 </option>
        <option> 4 </option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="form-inline">
      <span class="control-label room">Guests</span>
      <select class="form-control">
        <option> 1 </option>
        <option> 2 </option>
        <option> 3 </option>
        <option> 4 </option>
      </select>
    </div>
  </div>
</div>